.gallery-title {
    display: flex;
    justify-content: center;
    background-color: #ffeb3b;
    margin-top: 3%;
}
.gallery-container {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}
.gallery-item {
    display: flex;
    flex-direction: column;
    padding: 4%;
    width: 20%;
    border: 2px solid black;
}
